/* General */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
caption,
a,
strong {
  font-family: 'Argentum';
}
.mainHeader {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  background-color: #fff;
}
@media screen and (max-width: 800px) {
  .masonery-portfolio-image .overlay {
    position: absolute !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    width: calc(100% - 50px) !important;
  }
  .mainHeader {
    height: 70px;
    overflow: hidden;
  }
}
.burgur-menue {
  height: 90px;
  right: 0;
  position: absolute;
  width: 8%;
  min-width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #d9d9d9;
  margin: 0;
  padding: 0;
}
.header-logo {
  min-width: 239px;
  width: 15%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d9d9d9;
  margin: 0;
  padding: 0;
}
.header-menue {
  width: 73%;
}
.header-menue ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: wrap;
  margin: 0;
  padding: 0;
}
.header-menue ul li {
  padding: 0 30px;
}
.header-menue ul li a {
  text-decoration: none;
  color: #606060;
  font-weight: t;
  font-size: 16px;
  padding: 0 5px;
}
.header-menue ul .header-li img {
  opacity: 0;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}
.header-menue ul .header-li:hover img {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .ProjectDetail2 {
    width: calc(100%);
    margin: 20px 0 !important;
  }
  .projectDetail2-images {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
  .ProjectDetail2 .masonery-portfolio:first-child {
    margin-top: 0 !important;
  }
  .ProjectDetail2-text {
    width: 100%;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 8% !important;
  }
  .ProjectDetail2 .my-masonry-grid-noTxt {
    width: 100% !important;
    margin: 80px auto 8px auto !important;
    display: flex !important;
    justify-content: center;
    grid-template-columns: none !important;
    column-gap: 13px !important;
    box-sizing: border-box;
  }
  .ProjectDetail2 .my-masonry-grid-noTxt .masonery-portfolio {
    width: 100% !important;
    position: block !important;
    padding: 5% 10% !important;
  }
  .txt-masonery-container {
    display: none;
  }
  .ProjectDetail2 .my-masonry-grid-noTxt .masonery-portfolio img {
    width: 100% !important;
  }
  .ProjectDetail2-text h6 {
    font-size: 18px !important;
    font-weight: 300;
    margin-bottom: 31px;
    text-transform: capitalize;
  }
  .ProjectDetail2-text p {
    font-size: 14px !important;
    font-weight: 200;
    text-align: center;
    margin-bottom: -10px;
  }
  .otherProject-container {
    width: 100%;
    height: auto !important;
    min-height: 1000px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .otherProject-container .prev-project {
    width: 100% !important;
    height: auto !important;
    min-height: 500px !important;
    display: flex;
    flex-direction: column;
    border-right: none !important;
    padding: 25px !important;
  }
  .otherProject-container .prev-project:hover {
    background-color: #050505;
  }
  .otherProject-container .next-project {
    width: 100% !important;
    display: flex;
    height: 30% !important;
    flex-direction: column;
    border: none !important;
    border-left: none !important;
    padding: 25px !important;
  }
  .otherProject-container .next-project:hover {
    background-color: #050505;
  }
  .otherProject-container h6 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 40px 0 !important;
  }
  .next-project:hover h6,
  .prev-project:hover h6 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 50px 0 !important;
    color: #fff;
  }
  .otherProject-container img {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .next-project p,
  .prev-project p {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .next-project:hover p {
    color: #fff;
  }
  .prev-project:hover p {
    color: #fff;
  }
  .next-project .category,
  .prev-project .category {
    width: 50% !important;
    margin-left: 0 !important;
    margin-bottom: 0px !important;
    margin: 10px 0 !important;
    display: flex !important;
    flex-direction: column;
    grid-template-columns: 0 !important /* Creates two columns of equal width */;
    gap: 0 !important; /* Optional: Adds space between the grid items */
  }
  .next-project .category a,
  .prev-project .category a {
    text-decoration: none;
    color: #000;
    border: 0.8px solid #0000006a !important;
    margin-right: 15px;
    padding: 8px 14px !important;
    text-align: center;
    margin-bottom: 10px !important;
  }
  .next-project:hover .category a,
  .prev-project:hover .category a {
    text-decoration: none;
    color: #fffefe;
    border: 1px solid #fffdfd;
    margin-right: 15px;
    padding: 10px 15px;
  }
  .scrolling-text {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin: 75px 0;
    padding: 30px 0;
    width: 100%;
    border: 1px solid #2c2c2c;
  }
  .scrolling {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
  }

  .scrolling-text p {
    color: #000;
    width: 100%;
    margin: 0 20px !important;
    font-size: 30;
    font-weight: 300;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .ProjectDetail1 {
    margin: 55px 25px !important;
  }
  .ProjectDetail1-text {
    width: 100%;
  }
  .ProjectDetail1-title {
    display: flex;
    flex-direction: column;
    align-items: start !important;
  }
  .ProjectDetail1-title h1 {
    font-size: 50px !important;
    font-weight: 500;
    margin-right: 100px !important;
    margin-bottom: 20px;
  }
  .categoris-list {
    display: flex;
  }

  .category-list a {
    text-decoration: none;
    font-size: 10px !important;
    color: #000;
    padding: 8px 10px !important;
    border: 1px solid #0d0d0d;
    margin: 5px;
  }
  .category-list:hover a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 15px;
    border: 1px solid #0d0d0d;
    margin: 5px;
    background-color: #000;
  }
  .ProjectDetail1-description p {
    margin: 50px 0 !important;
    width: 100%;
    font-size: 14px !important;
    font-weight: 200;
  }
  .ProjectDetail1-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: first baseline !important;
    margin-bottom: 20px;
  }
  .ProjectDetail1-details .part1,
  .ProjectDetail1-details .part2 {
    border-bottom: 1px solid #d2d2d2;
  }
  .ProjectDetail1-details .part1,
  .ProjectDetail1-details .part2,
  .ProjectDetail1-details .part3 {
    width: 100% !important;
    display: flex;
    margin-top: 4%;
    height: 40px;
  }
  .ProjectDetail1-details .part1 h6,
  .ProjectDetail1-details .part2 h6,
  .ProjectDetail1-details .part3 h6 {
    font-size: 16px !important;
    font-weight: 300;
    margin-bottom: 0 !important;
    margin-right: 5%;
  }
  .ProjectDetail1-details .part1 p,
  .ProjectDetail1-details .part2 p,
  .ProjectDetail1-details .part3 p {
    font-size: 14px !important;
    font-weight: 200;
    margin-bottom: 0 !important;
  }
  .ProjectDetail1-images {
    width: 100%;
  }
  .ProjectDetail1-images .image1 img {
    width: 100%;
    max-height: 610px !important;
    object-fit: cover;
  }
  .ProjectDetail1-images .image2 img {
    width: 100%;
    min-height: 100px !important;
    padding: 10% 20% !important;
    object-fit: contain !important;
  }
  .ProjectDetail1-description2 {
    width: 100%;
    margin-top: 20px;
  }
  .ProjectDetail1-description2 h6 {
    font-size: 18px !important;
  }
  .ProjectDetail1-description2 p {
    font-size: 14px !important;
    font-weight: 200;
    margin-bottom: 30px;
  }
  .secondimages {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .secondimages img {
    width: 100% !important;
    max-height: 400px !important;
    object-fit: cover;
    padding: 5% 2.5%;
  }
  .contact-link-container {
    float: left !important;
    margin-top: 50px !important;
  }
  .contact-title {
    flex-direction: column;
  }
  .contact-container {
    margin: 175px 25px 75px 25px !important;
  }
  .title-description {
    width: 100% !important;
    margin-top: 50px !important;
  }
  .main-title {
    margin-right: 0 !important;
    width: 100% !important;
  }
  .contact-dscription {
    flex-direction: column-reverse;
  }
  .contact-address {
    margin-top: 20px !important;
    width: 100% !important;
  }
  .contact-title .main-title h1 {
    font-size: 50px !important;
  }
  .contact-form {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 10px !important;
    margin-bottom: 120px !important;
  }

  .contact-form p {
    margin-bottom: -10px !important;
    margin-top: 40px;
    color: #dddbdb;
    font-size: 25px;
    font-weight: 200;
  }
  .AboutDetails-container img {
    margin-top: 50px !important;
  }
  .description-container {
    width: calc(100% - 50px) !important;
    margin: 25px !important;
  }
  .custom-arrow {
    display: block !important;
  }
  .custom-arrow.custom-next img {
    position: absolute;
    top: 90% !important;
    width: 21px !important;
    object-fit: contain;
    right: 30px !important;
  }

  .custom-arrow.custom-prev img {
    left: 30px !important;
    width: 21px;
    object-fit: contain;
    position: absolute;
    top: 90% !important;
  }
  .AboutDetails-container h1 {
    font-size: 30px !important;
    font-weight: 500;
    margin-top: 160px !important;
  }
  .AboutDetails-container h6 {
    font-size: 18px !important;
    margin-top: 50px !important;
    font-weight: 400;
  }
  .AboutDetails-container p {
    font-size: 14px !important;
    font-weight: 200;
    margin-top: 30px !important;
  }
  .gallery img {
    margin-top: 50px !important ;
    margin-bottom: 0 !important;
  }
  .HorizentalAbout-container {
    background-color: #f5f5f5;
    width: 100%;
    height: 479px !important;
    padding: 0 0 30px 0 !important;
    position: relative !important;
  }
  .gallery-item h6 {
    font-size: 14px !important;
    margin-top: 20px !important;
    margin-left: 25px !important;
    margin-bottom: 0 !important;
  }
  .gallery-item p {
    font-size: 14px !important;
    margin-top: 20px !important;
    margin-left: 25px !important;
  }
  .AboutDetails-container {
    margin: 0px 50px 50px 50px !important;
    width: calc(100% - 100px) !important;
  }
  .HorizentalAbout-container .title-container {
    width: 100% !important;
    padding: 50px 0px 0px 0px !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    text-align: center;
    font-size: 16px !important;
    font-weight: 400;
    letter-spacing: 5%;
  }
  .gallery img {
    max-width: 100% !important;
    width: 100%;
    height: 150px !important;
    display: block;
    padding-right: 0 !important;
    margin-bottom: 50px;
    height: auto !important;
  }
  .gallery p {
    padding-right: 0 !important;
  }
  .ImageBanner .text-container {
    left: 10%;
    top: 0;
    right: 10%;
    position: absolute;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 3;
    align-items: center;
    justify-content: space-evenly !important;
  }
  .ImageBanner .text-container p {
    color: #fff;
    font-size: 25px !important;
  }
  .imageBanner-button-container {
    width: 57% !important;
    background-color: #1a1a1a;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 10px !important;
    padding: 0 5px !important;
  }
  .imageBanner-button-container img {
    width: 10px !important;
  }
  .ImageBanner .text-container {
    left: 5% !important;
    right: 5% !important;
    width: 90% !important;
  }
  .ImageBanner .backgroundImage img {
    height: 300px !important;
  }
  .ImageBanner {
    width: 100%;
    height: 300px !important;
    position: relative;
    margin-bottom: 30px;
  }
  .ImageBanner .backgroundImage {
    width: 100%;
    height: 300px !important;
  }
  .title-container {
    margin-left: 35px !important;
    margin-top: 255px !important;
  }
  .title-container h1 {
    font-size: 30px !important;
  }
  .category-filters {
    width: 100% !important;
    margin: 50px 10px 30px 30px !important;
    display: block !important;
  }
  .category-filters button {
    width: 50%;
    text-align: left;
  }

  .sidebar {
    display: none !important;
  }
  .header-menue {
    display: none !important;
  }
  .header-logo {
    width: 25%;
    min-width: 20%;
  }
  .header-logo img {
    width: 45px;
    object-fit: contain;
  }
  .burgur-menue {
    width: 18%;
    min-width: 18%;
  }
  .burgur-menue img {
    width: 27px;
    object-fit: contain;
  }
  .page-container {
    width: 100%;
  }
  .homeSlider-container {
    padding: 20px !important;
  }
  .homeSlider-container .image-container {
    display: none !important;
  }
  .homeSlider-background {
    position: relative;
  }
  .homeSlider-container {
    margin-top: 70px !important;
  }
  .homeSlider-background {
    background-color: #fff !important;
  }
  .homeSlider-container .image-container-mobile {
    display: block !important;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homeSlider-container .image-container-mobile img {
    width: 100%;
    position: relative;
    z-index: 4;
  }
  .homeSlider-container .image-container-mobile .downArrow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 89%;
    z-index: 5s;
  }
  .homeSlider-container .image-container-mobile .downArrow img {
    width: 12px;
    height: 31px;
  }
  .homeSlider-container .link-container {
    top: 77% !important;
    z-index: 5;
    left: 53% !important;
    width: 157px !important;
    height: 40px !important;
  }
  .homeSlider-container .link-container .black {
    height: 40px !important;
  }
  .homeSlider-container,
  .homeSlider-background {
    height: 67vh !important;
  }

  .homeSlider-container .text-container {
    height: 67vh !important;
  }
  .taq-container {
    height: 100px !important;
    margin: 25px 0 !important;
  }
  .taq-text-1 p,
  .taq-text-2 p,
  .taq-text-1-animate p,
  .taq-text-2-animate p {
    font-size: 65px !important;
    letter-spacing: -2mm !important;
  }
  .my-masonry-grid .masonery-portfolio {
    width: 100% !important; /* Force full width */
  }
  .my-masonry-grid-noTxt .masonery-portfolio-noTxt {
    width: 100% !important; /* Force full width */
  }
  .my-masonry-grid-noTxt {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-column-gap: 0px !important;
    column-gap: 0px !important;
  }
  .my-masonry-grid-noTxt {
    margin: 15px 15px 100px 15px !important;
  }
  .my-masonry-grid-noTxt .masonery-portfolio-image img {
    width: calc(100% - 50px) !important;
  }
  .my-masonry-grid {
    margin: 0 !important;
  }
  .my-masonry-grid .type {
    margin: 0 !important;
  }
  .my-masonry-grid .type img {
    width: 22px !important;
  }
  .my-masonry-grid .type h6 {
    font-size: 12px !important;
  }
  .masonery-portfolio h3 {
    font-size: 18px !important;
    margin: 20px 0 0px 20px !important;
  }
  .masonery-portfolio p {
    font-size: 12px !important;
    font-weight: 300;
    margin: 20px 36px !important;
  }
  .masonery-portfolio:first-child {
    margin-top: 40px !important;
  }
  .BlackBannerContainer {
    height: 360px !important;
  }
  .BlackBannerContainer .text-container p {
    padding-left: 0 !important;
    margin: 4px;
    font-size: 30px !important;
  }
  .BlackBannerContainer {
    flex-direction: column;
    justify-content: space-evenly !important;
  }
  .BlackBannerContainer .link-blackContainer {
    padding-right: 0px !important;
    width: 159px !important;
    height: 45px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .BlackBannerContainer .link-blackContainer a,
  .BlackBannerContainer .link-blackContainer .white {
    height: 45px !important;
    font-size: 14px;
  }
  .BlackBannerContainer .link-blackContainer:hover .white {
    width: 157px !important;
    height: 45px !important;
  }
  .BlackBannerContainer .link-blackContainer:hover a {
    width: 149px !important;
    height: 45px !important;
  }
  .no-mobile {
    display: none !important;
    height: 70px !important;
  }
  .masonery-portfolio-noTxt .masonery-title-Hovertext {
    width: 100% !important;
    position: absolute;
    top: 48%;
    left: 38%;
    z-index: 5;
    color: #ffffff;
    display: flex;
    height: 40px;
    cursor: pointer;
    overflow: visible !important;
  }
  .masonery-portfolio-noTxt .masonery-title-Hovertext p {
    font-size: 30px;
    font-weight: 500;
  }
  .masonery-portfolio-noTxt .masonery-portfolio-Hovertext {
    width: 100% !important;
    position: absolute;
    bottom: 20px;
    left: 30px;
    z-index: 5;
    color: #ffffff;
    display: flex;
    height: 40px;
    cursor: pointer;
    overflow: visible !important;
  }
  .masonery-portfolio-noTxt .masonery-portfolio-Hovertext a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 7px 6px 7px;
    text-align: center;
    margin: 5px;
    font-size: 12px !important;
    border: 1px solid #fff;
  }
  .m-125 {
    margin: 28px !important;
  }
  .homeAbout {
    font-size: 25px !important ;
    text-align: center !important;
    line-height: 32px !important;
    margin-top: 52px !important;
  }
  .description-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .description-box .title {
    margin-bottom: 39px;
  }
  .description-box .description {
    width: 100% !important;
  }
  .mobile-b {
    margin-bottom: 100px;
  }
  footer .footer-container {
    margin-left: 0px !important;
  }
  footer {
    height: 585px !important;
  }
  footer .footer-container .call-to-action {
    height: 100px !important;
    font-size: 30px !important;
  }
  footer .footer-container .call-to-action h2 {
    font-size: 30px !important;
  }
  footer .copyRight {
    flex-direction: column-reverse;
  }
  .copyRight {
    display: none !important;
  }
  .copyRight-mobile {
    display: block !important;
  }
  .social-footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
  }
  .social-footer a {
    margin: 40px 20px;
    display: flex;
    align-items: center;
  }
  .foter-part-3 {
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #fff;
  }
  .foter-part-3 .conatcUs {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15spx;
    border-right: 1px solid #fff;
    height: 100%;
  }
  .foter-part-3 .conatcUs p {
    font-size: 14px;
    color: #ffff;
  }
  .foter-part-3 .up {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .foter-part-3 .up img {
    width: 36px;
  }
  .description {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    color: #fff;
    font-weight: 300;
  }
  .description .address p {
    font-size: 14px !important;
    margin-bottom: 40px !important;
  }
  .description .tel {
    font-size: 14px !important;
    margin-bottom: 40px !important;
  }
  .description .date p {
    font-size: 14px !important;
  }
  .description-box .description {
    padding: 0 !important ;
  }
  .description-box .description p {
    width: 100% !important;
    font-size: 18px !important;
    font-weight: 200;
    line-height: 39px;
    color: #000;
  }
  .description-box .description .feature-box {
    margin-top: 50px !important;
  }
  .description-box .description .feature-box h6 {
    color: #000;
    font-size: 14px;
    font-weight: 400;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .header-logo {
    min-width: 169px !important;
    width: 15% !important;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #d9d9d9;
    margin: 0;
    padding: 0;
  }
  .header-menue ul li {
    padding: 0 15px;
  }
  .header-menue ul li img {
    display: none;
  }
  .header-menue {
    width: 64%;
    justify-content: center;
    justify-content: center;
    margin-right: auto;
  }
  .masonery-portfolio-noTxt:hover .masonery-portfolio-Hovertext {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 1px !important;
    z-index: 5;
    color: #ffffff;
    display: flex;
    height: 40px;
  }
  .masonery-portfolio-noTxt:hover .masonery-portfolio-Hovertex {
    padding: 2px 2px 3px 2px !important;
    font-size: smaller !important;
  }
  .masonery-portfolio-noTxt:hover .masonery-title-Hovertext {
    top: 38% !important;
  }
  .ImageBanner .text-container {
    left: 10%;
    top: 0;
    right: 10%;
    position: absolute;
    width: 80%;
    height: 100%;
    display: flex;
    z-index: 3;
    align-items: center;
    justify-content: space-between;
  }
  .ImageBanner .text-container p {
    color: #fff;
    font-size: 25px !important;
  }
  .imageBanner-button-container {
    width: 27% !important;
    background-color: #1a1a1a;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 10px !important;
    padding: 0 5px !important;
  }
  .imageBanner-button-container img {
    width: 10px !important;
  }
  .ImageBanner .text-container {
    left: 5% !important;
    right: 5% !important;
    width: 90% !important;
  }
  .ImageBanner .backgroundImage img {
    height: 300px !important;
  }
  .ImageBanner {
    width: 100%;
    height: 300px !important;
    position: relative;
  }
  .ImageBanner .backgroundImage {
    width: 100%;
    height: 300px !important;
  }
  .title-container {
    margin-left: 80px !important;
  }
  .page-container .title-container h1 {
    font-size: 40px !important;
  }
  .category-filters {
    margin-left: 6% !important ;
    margin-top: 43px !important;
  }
  .category-filters button p {
    font-size: 12px !important;
  }
  .my-masonry-grid {
    margin: 0 50px !important;
  }
  .masonery-portfolio {
    width: calc(50% - 0px) !important;
    padding: 0 73px 56px 43px !important;
  }
  .my-masonry-grid-noTxt {
    margin: 40px !important;
  }
  .ProjectDetail2 {
    width: calc(100%);
    margin: 20px 0 !important;
  }
  .projectDetail2-images {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
  .ProjectDetail2 .masonery-portfolio:first-child {
    margin-top: 0 !important;
  }
  .ProjectDetail2-text {
    width: 100%;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 8% !important;
  }
  .ProjectDetail2 .my-masonry-grid-noTxt {
    width: calc(100% - 140px) !important;
    margin: 100px 0 80px 56px !important;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 0) !important;
    column-gap: 13px !important;
    box-sizing: border-box;
  }
  .ProjectDetail2 .my-masonry-grid-noTxt .masonery-portfolio {
    width: calc(50%);
    padding: 0 0px 0px 30px !important;
  }
  .ProjectDetail2-text h6 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 31px;
    text-transform: capitalize;
  }
  .ProjectDetail2-text p {
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    margin-bottom: -10px;
  }
  .otherProject-container {
    width: 100%;
    height: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .otherProject-container .prev-project {
    width: 50%;
    height: 456px !important;
    display: flex;
    flex-direction: column;
    border: 1px solid #e0dfdf;
    padding: 2%;
  }
  .otherProject-container .prev-project:hover {
    background-color: #050505;
  }
  .otherProject-container .next-project {
    width: 50%;
    display: flex;
    height: 30% !important;
    flex-direction: column;
    border: 1px solid #e0dfdf;
    border-left: 1px solid #fff;
    padding: 2%;
  }
  .otherProject-container .next-project:hover {
    background-color: #050505;
  }
  .otherProject-container h6 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 40px 0 !important;
  }
  .next-project:hover h6,
  .prev-project:hover h6 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 50px 0 !important;
    color: #fff;
  }
  .otherProject-container img {
    width: 200px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .next-project p,
  .prev-project p {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .next-project:hover p {
    color: #fff;
  }
  .prev-project:hover p {
    color: #fff;
  }
  .next-project .category,
  .prev-project .category {
    width: 100% !important;
    margin-left: 0 !important;
    margin-bottom: 0px !important;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two columns of equal width */
    gap: 10px; /* Optional: Adds space between the grid items */
  }
  .next-project .category a,
  .prev-project .category a {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    margin-right: 15px;
    padding: 8px 14px !important;
    text-align: center;
  }
  .next-project:hover .category a,
  .prev-project:hover .category a {
    text-decoration: none;
    color: #fffefe;
    border: 1px solid #fffdfd;
    margin-right: 15px;
    padding: 10px 15px;
  }
  .scrolling-text {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin: 75px 0;
    padding: 30px 0;
    width: 100%;
    border: 1px solid #2c2c2c;
  }
  .scrolling {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
  }

  .scrolling-text p {
    color: #000;
    width: 100%;
    margin: 0 20px !important;
    font-size: 30;
    font-weight: 300;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .ProjectDetail1 {
    margin: 55px !important;
  }
  .ProjectDetail1-text {
    width: 100%;
  }
  .ProjectDetail1-title {
    display: flex;
    align-items: center;
  }
  .ProjectDetail1-title h1 {
    font-size: 50px !important;
    font-weight: 500;
    margin-right: 100px !important;
  }
  .categoris-list {
    display: flex;
  }

  .category-list a {
    text-decoration: none;
    font-size: 10px !important;
    color: #000;
    padding: 8px 10px !important;
    border: 1px solid #0d0d0d;
    margin: 5px;
  }
  .category-list:hover a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 15px;
    border: 1px solid #0d0d0d;
    margin: 5px;
    background-color: #000;
  }
  .ProjectDetail1-description p {
    margin: 20px 0 !important;
    width: 100%;
    font-size: 20px !important;
    font-weight: 200;
  }
  .ProjectDetail1-details {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .ProjectDetail1-details .part1,
  .ProjectDetail1-details .part2,
  .ProjectDetail1-details .part3 {
    width: 38%;
    height: 180px !important;
    margin-top: 4%;
  }
  .ProjectDetail1-details .part1 h6,
  .ProjectDetail1-details .part2 h6,
  .ProjectDetail1-details .part3 h6 {
    font-size: 20px !important;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .ProjectDetail1-details .part1 p,
  .ProjectDetail1-details .part2 p,
  .ProjectDetail1-details .part3 p {
    font-size: 20px !important;
    font-weight: 200;
    margin-bottom: 70px !important;
  }
  .ProjectDetail1-images {
    width: 100%;
  }
  .ProjectDetail1-images .image1 img {
    width: 100%;
    max-height: 610px !important;
    object-fit: cover;
  }
  .ProjectDetail1-images .image2 img {
    width: 100%;
    min-height: 300px !important;
    padding: 10% 20% !important;
    object-fit: contain !important;
  }
  .ProjectDetail1-description2 {
    width: 100%;
  }
  .ProjectDetail1-description2 h6 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .ProjectDetail1-description2 p {
    font-size: 20px !important;
    font-weight: 200;
    margin-bottom: 30px;
  }
  .secondimages {
    width: 100%;
  }
  .secondimages img {
    width: 50%;
    max-height: 800px;
    object-fit: cover;
    padding: 5% 2.5%;
  }
}
.copyRight-mobile {
  display: none;
}
.homeSlider-container .image-container-mobile {
  display: none;
}
.sidebar {
  height: 100% !important;
  width: 125px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid #d9d9d9;
}
.sidebar .sidebar-text {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 120px;
}
.sidebar .sidebar-text h3 {
  color: #0d0d0d;
  font-size: 20px !important;
  font-weight: 200 !important;
  white-space: nowrap;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  width: 100px;
  letter-spacing: 0.1cm;
}
.sochial,
.sochial-white {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  left: 0;
}
.sochial.black {
  position: absolute;
  bottom: 0px;
}
.sochial a,
.sochial-white a {
  margin: 10px 0;
}
.sochial a img {
}

/* Home Slidre DESKTOP */
.homeSlider-container {
  width: 100%;
  height: 80vh;
  margin-top: 91px;
  padding: 74px;
}
.homeSlider-background {
  background-color: #f5f5f5;
  width: 100%;
  height: 80vh;
}
.animationSlider-slide {
  display: none;
}
.animationSlider-slide.animationSlider-active {
  display: block;
  width: 100%;
}
.homeSlider-container .text-container {
  width: 50%;
  float: left;
  position: relative;
}
.homeSlider-container .text-container .logo img {
  position: absolute;
  object-fit: contain;
  top: 30%;
  right: 0;
  width: 80%;
  z-index: 7;
}

.homeSlider-container .text-container .logo {
  width: 50%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeSlider-container .text-container .link-container {
  height: 63px;
  width: 200px;
  border: 1px solid black;
  position: absolute;
  top: 80%;
  left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeSlider-container .text-container .link-container .black {
  height: 63px;
  width: 5px;
  background-color: black;
  float: left;
  position: absolute;
  left: 0;
  transition: width ease-in-out 0.8s;
}
.homeSlider-container .text-container .link-container:hover .black {
  width: 100%;
}
.homeSlider-container .text-container .link-container a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}
.homeSlider-container .text-container .link-container:hover a,
.homeSlider-container .text-container .link-container:hover {
  color: #fff;
  z-index: 3;
  position: absolute;
  font-weight: 300;
}
.homeSlider-container .image-container {
  width: 50%;
  position: relative;
  float: right;
}

.homeSlider-container .image-container .image1 img {
  position: absolute;
  width: 36%;
  z-index: 2;
  left: -30%;
  margin-top: 128px;
  max-width: 326px;
  transition: all 3s linear;
  transform: translateX(9000px);
  -webkit-transition: all 3s linear;
  -moz-transition: all 3s linear;
  -ms-transition: all 3s linear;
  -o-transition: all 3s linear;
}
.homeSlider-container .image-container .image1-animate img {
  transform: translateX(0);
}
.homeSlider-container .image-container .image2 img {
  position: absolute;
  max-width: 478px;
  transition: all 4s ease-out;
  transform: translateX(90000px);
  z-index: 0;
  left: -2%;
  margin-top: 84px;
  z-index: 0;
  -webkit-transform: translateX(7000px);
  -moz-transform: translateX(90000px);
  -ms-transform: translateX(90000px);
  -o-transform: translateX(90000px);
  -webkit-transition: all 4s ease-out;
  -moz-transition: all 4s ease-out;
  -ms-transition: all 4s ease-out;
  -o-transition: all 4s ease-out;
}
.homeSlider-container .image-container .image2-animate img {
  transform: translateX(0);
}
.homeSlider-container .image-container .image3 img {
  position: absolute;
  max-width: 350px;
  z-index: 0;
  left: 110px;
  margin-top: 302px;
  z-index: 5;
  transition: all 7s ease-out;
  transform: translateX(12000px);
  -webkit-transform: translateX(12000px);
  -moz-transform: translateX(12000px);
  -ms-transform: translateX(12000px);
  -o-transform: translateX(12000px);
  -webkit-transition: all 7s ease-out;
  -moz-transition: all 7s ease-out;
  -ms-transition: all 7s ease-out;
  -o-transition: all 7s ease-out;
}
.homeSlider-container .image-container .image3-animate img {
  transform: translateX(0);
}
.homeSlider-container .image-container .image4 img {
  position: absolute;
  max-width: 360px;
  z-index: 0;
  right: 70px;
  margin-top: 34px;
  z-index: 4;
  transition: all 9s ease-out;
  transform: translateX(16000px);
  -webkit-transform: translateX(16000px);
  -moz-transform: translateX(16000px);
  -ms-transform: translateX(16000px);
  -o-transform: translateX(16000px);
  -webkit-transition: all 9s ease-out;
  -moz-transition: all 9s ease-out;
  -ms-transition: all 9s ease-out;
  -o-transition: all 9s ease-out;
}
.homeSlider-container .image-container .image4-animate img {
  transform: translateX(0);
}
.homeSlider-container .image-container .image5 img {
  position: absolute;
  max-width: 416px;
  z-index: 0;
  right: 117px;
  margin-top: 404px;
  transition: all 10s ease-out;
  transform: translateX(18000px);
  -webkit-transform: translateX(18000px);
  -moz-transform: translateX(18000px);
  -ms-transform: translateX(18000px);
  -o-transform: translateX(18000px);
  -webkit-transition: all 10s ease-out;
  -moz-transition: all 10s ease-out;
  -ms-transition: all 10s ease-out;
  -o-transition: all 10s ease-out;
}
.homeSlider-container .image-container .image5-animate img {
  transform: translateX(0);
}

/* TAQ SECTION DESKTOP */
.taq-container {
  width: 100%;
  background-color: #f5f5f5;
  height: 330px;
  position: relative;
  margin: 166px 0;
  display: flex;
  padding: 0;
  flex-direction: column;
}
.taq-text-1 {
  height: 50%;
  color: #ffff;
  text-align: start;
  display: flex;
  align-items: start;
  line-height: 0.88;
  transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -ms-transition: all 2s linear;
  -o-transition: all 2s linear;
  justify-content: flex-start;
}
.taq-text-2 {
  transition: all 4s linear;
  height: 50%;
  color: #ffff;
  text-align: start;
  display: flex;
  align-items: start;
  line-height: 0.88;
  justify-content: flex-end;
}
.taq-text-1 p {
  font-size: 220px;
  padding: 0;
  margin: 0;
  left: 0.9;
  letter-spacing: -8mm;
}
.taq-text-2 p {
  font-size: 220px;
  padding: 0;
  margin: 0;
  left: 0.9;
  letter-spacing: -8mm;
}
.taq-text-1-animate {
  transition: 2s linear;
  height: 50%;
  color: #ffff;
  text-align: start;
  display: flex;
  align-items: start;
  line-height: 0.88;
}
.taq-text-2-animate {
  transition: all 4s linear;
  height: 50%;
  color: #ffff;
  text-align: start;
  display: flex;
  align-items: start;
  line-height: 0.88;
  justify-content: flex-end;
}
.taq-text-1-animate p {
  font-size: 220px;
  padding: 0;
  margin: 0;
  left: 0.9;
  letter-spacing: -8mm;
}
.taq-text-2-animate p {
  font-size: 220px;
  padding: 0;
  margin: 0;
  left: 0.9;
  letter-spacing: -8mm;
}
.my-masonry-grid {
  width: 100%;
  margin: 0 90px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 93px;
  box-sizing: border-box;
}

.masonery-portfolio {
  width: calc(50% - 90px);
  padding: 0 43px 56px 43px;
}
.masonery-portfolio:first-child {
  margin-top: 120px; /* Adjust the value as needed */
}
.masonery-portfolio-image img {
  width: 100%; /* Makes the image fill the container */
  height: 100%; /* Keeps the image aspect ratio */
  position: relative;
}

.txt-masonery-container {
  padding: 16px; /* Example padding around the text */
}

.type {
  display: flex; /* Aligns the line image and the h6 horizontally */
  align-items: center; /* Centers them vertically */
  gap: 8px; /* Adds space between the line image and the h6 */
  margin: 50px 0 30px 0;
}

.type img {
  height: 1px; /* Example height for the line image */
  width: 50px; /* Keeps the image aspect ratio */
  margin-right: 5px;
}

.type h6 {
  margin: 0; /* Removes default margin */
  font-size: 16px; /* Example font size */
  color: #000000; /* Example text color */
  font-weight: 300;
}

.masonery-portfolio h3 {
  padding: 0 16px; /* Example padding */
  margin: 8px 0 30px 45px; /* Example margin */
  font-size: 25px; /* Example font size */
  font-weight: 400;
}

.masonery-portfolio p {
  margin: 0; /* Removes default margin */
  color: #606060; /* Example text color */
  font-size: 16px; /* Example font size */
  font-weight: 300;
  margin-left: 60px;
  margin-bottom: 44px;
}
.my-masonry-grid-noTxt {
  width: 100%;
  margin: 120px 120px 120px 80px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 23px;
  box-sizing: border-box;
}
.masonery-portfolio-noTxt {
  width: calc(30% - 23px);
  margin: 10px;
  position: relative;
}
.masonery-portfolio-noTxt .masonery-shadow-img {
  width: 100%;
  height: 100%;
  /*Coverthefullheight*/
  position: absolute;
  z-index: 4;
  background-color: #07070792;
  top: 0px;
  left: 0;
  opacity: 0;
  padding: 20px;
  /*Initiallyhidden*/
  transition: opacity 0.5s;
}
.masonery-portfolio-noTxt:hover .masonery-shadow-img {
  opacity: 1; /* Show the shadow on hover */
}
.masonery-portfolio-noTxt .masonery-title-Hovertext {
  width: 0;
  overflow: hidden;
  position: absolute;
}
.masonery-portfolio-noTxt:hover .masonery-title-Hovertext {
  width: 100%;
  position: absolute;
  top: 48%;
  left: 40%;
  z-index: 5;
  color: #ffffff;
  display: flex;
}
.masonery-portfolio-noTxt:hover .masonery-title-Hovertext p {
  font-size: 30px;
}
.masonery-portfolio-noTxt .masonery-portfolio-Hovertext {
  width: 0;
  overflow: hidden;
  position: absolute;
}
.masonery-portfolio-noTxt:hover .masonery-portfolio-Hovertext {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 30px;
  z-index: 5;
  color: #ffffff;
  display: flex;
  height: 40px;
}
.masonery-portfolio-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  /*Transparentinitially*/
  transition: background-color 0.5s ease;
  /* Smooth transition */
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
}
.masonery-portfolio-image:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray on hover */
}
.masonery-portfolio-noTxt:hover .masonery-portfolio-Hovertext a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 5px 6px 5px;
  text-align: center;
  margin: 5px;
  border: 1px solid #fff;
}
.BlackBannerContainer {
  width: 100%;
  background-color: #000000;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.BlackBannerContainer .text-container {
  width: 79%;
  text-align: left;
}
.BlackBannerContainer .text-container p {
  width: 100%;
  font-size: 60px;
  font-weight: 500;
  color: #ffffff;
  padding-left: 147px;
}
.BlackBannerContainer .link-blackContainer {
  padding-right: 147px;
  width: 21%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.BlackBannerContainer .link-blackContainer a {
  width: 225px;
  border: #ffffff 1px solid;
  height: 63px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.BlackBannerContainer .link-blackContainer .white {
  width: 4px;
  background-color: #fff;
  height: 63px;
  transition: width ease-in-out 0.8s;
  position: absolute;
  left: 0;
}
.BlackBannerContainer .link-blackContainer:hover .white {
  position: absolute;
  width: 216px;
  border: #ffffff 1px solid;
  height: 63px;
  color: #070707;
  text-decoration: none;
  display: flex;
  align-items: center;
  z-index: 1;
  justify-content: center;
  transition: width ease-in-out 0.8s;
}
.BlackBannerContainer .link-blackContainer:hover a {
  position: relative;
  z-index: 3;
  width: 225px;
  height: 63px;
  color: #010101;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.description-box .title {
  width: 20%;
  font-size: 30px;
  font-weight: 500;
  line-height: 39px;
}
.description-box .description {
  width: 80%;
  font-size: 30px;
  font-weight: 200;
  line-height: 39px;
}
.description-box .description:first p {
  font-size: 30px;
  font-weight: 200;
}
.description-box .description .feature-box {
  margin-top: 100px;
}
.description-box .description .feature-box p {
  margin: 34px 34px 74px 0;
  font-size: 20px;
  font-weight: 200;
  line-height: 26px;
}
.aboutHome-link-container {
  height: 63px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.contact-link-container {
  height: 63px;
  width: 152px;
  border: 1px solid black;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  float: right;
  margin-right: 50px;
}
.contact-link-container .black {
  height: 63px;
  width: 3px;
  background-color: black;
  float: left;
  position: absolute;
  left: 0;
  transition: width ease-in-out 0.8s;
}
.contact-link-container:hover .black {
  width: 100%;
}
.contact-link-container a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}
.aboutHome-link-container .black {
  height: 63px;
  width: 5px;
  background-color: black;
  float: left;
  position: absolute;
  left: 0;
  transition: width ease-in-out 0.8s;
}
.aboutHome-link-container:hover .black {
  width: 100%;
}
.aboutHome-link-container a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}
/* .aboutHome-link-container:hover a,
.aboutHome-link-container:hover {
  color: #fff;
  z-index: 3;
  position: absolute;
  font-weight: 300;
} */
.m-125 {
  margin: 0 125px;
}
.m-l120 {
  margin-left: 120px;
}
footer {
  display: flex;
  flex-direction: row;
  height: 351px;
  width: 100%;
  overflow-y: hidden;
}
footer .sidebar {
  width: 20%;
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  margin-left: 124px;
  width: 100%;
}
footer .footer-container .call-to-action {
  border-bottom: 1px solid #ffff;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
footer .footer-container .call-to-action:hover {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  background-color: #fff;
}
footer .footer-container .call-to-action h2 {
  letter-spacing: 0.1cm;
  font-weight: 500 !important;
  font-size: 60px;
}
footer .copyRight {
  width: 100%;
  height: 150px;
  display: flex;
  float: right;
}
footer .copyRight .description {
  width: 80%;
  border-right: 1px solid #ffff;
  display: flex;
  float: right;
}
footer .copyRight .conatcUs {
  width: 10%;
  border-right: 1px solid #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px !important;
  font-weight: 200 !important;
  color: #fff;
  padding-top: 15px;
  text-align: center;
}
footer .copyRight .conatcUs:hover {
  background-color: #fff;
  color: #010101;
  font-weight: 300 !important;
}
footer .copyRight .up {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .copyRight .up:hover {
  background-color: #fff;
  color: #010101;
  font-weight: 300 !important;
}
footer .copyRight .up img {
  width: 60px;
  height: 60px;
}

footer .copyRight .address {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 15px;
  color: #fff;
}
footer .copyRight .address p {
  font-size: 16px !important;
}
footer .copyRight .address p span {
  font-size: 16px !important;
  font-weight: 200 !important ;
  letter-spacing: 0.8%;
}
footer .copyRight .tel {
  width: 17.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .copyRight .tel a {
  margin-top: 15px;
  font-size: 16px !important;
  font-weight: 200 !important;
  color: #fff;
}
footer .copyRight .date {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .copyRight .date p {
  margin-top: 15px;
  font-size: 16px !important;
  font-weight: 200 !important;
  color: #fff;
}
.title-container {
  width: 100%;
  margin-top: 300px;
  margin-left: 120px;
}
.title-container h1 {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 20%;
}
.category-filters {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 100px;
  margin-top: 83px;
  position: relative;
}
.category-filters button {
  background: none;
  border: none;
  font-size: 16px;
}
.category-filters button p {
  font-size: 16px;
  font-weight: 300;
  color: #606060;
}
.category-filters button:hover p {
  font-size: 16px;
  font-weight: 400;
  color: #050505;
}
.category-menue img {
  width: 140px;
  object-fit: contain;
}
.category-filters button img {
  display: none;
}
.ImageBanner {
  width: 100%;
  height: 470px;
  position: relative;
}
.ImageBanner .backgroundImage {
  width: 100%;
  height: 470px;
  position: relative;
}
.ImageBanner .backgroundImage img {
  width: 100%;
  height: 470px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}
.ImageBanner .text-container {
  left: 10%;
  top: 0;
  right: 10%;
  position: absolute;
  width: 80%;
  height: 100%;
  display: flex;
  z-index: 3;
  align-items: center;
  justify-content: space-between;
}
.ImageBanner .text-container p {
  color: #fff;
  font-size: 30px;
}
.imageBanner-button-container {
  width: 20%;
  padding: 0 5px;
  background-color: #1a1a1a;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.imageBanner-button-containe a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px t;
}

.AboutDetails-container {
  width: calc(100% - 240px);
  margin: 120px;
}
.AboutDetails-container h1 {
  font-size: 60px;
  margin-top: 180px;
}
.AboutDetails-container h6 {
  font-size: 30px;
  margin-top: 120px;
  font-weight: 400;
}
.AboutDetails-container p {
  font-size: 30px;
  font-weight: 200;
  margin-top: 40px;
}
.AboutDetails-container img {
  width: 100%;
  margin-top: 114px;
}
.description-container {
  width: calc(100% - 240px);
  margin: 120px;
}
/* styles/Gallery.module.css */

.HorizentalAbout-container {
  background-color: #f5f5f5;
  width: 100%;
  height: 741px;
  padding: 125px;
  position: relative;
}

.HorizentalAbout-container .title-container {
  width: calc(100% - 250px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 0 !important;
}
.HorizentalAbout-container .gallery {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}
.HorizentalAbout-container .gallery.horizontalScroll {
  overflow-x: auto !important;
  scroll-snap-type: x mandatory;
  display: flex;
  user-select: none;
}
.gallery-item {
  width: 100%;
  max-width: 900px;
  height: 391px;
  scroll-snap-align: start;
  flex: 0 0 auto;
  margin-right: 20px; /* Add some space between items */
}
.gallery img {
  max-width: 900px;
  width: 100%;
  height: auto;
  display: block;
  padding-right: 150px;
  margin-bottom: 50px;
}
.gallery h6 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
}
.gallery p {
  font-size: 20px;
  font-weight: 200;
  padding-right: 150px;
}
.mySwiper {
  width: 100%;
}

.mySwiper .swiper-slide {
  width: 60vw; /* Adjust this value to change the visible portion of the current slide */
  /* Additional styling for the slide */
}

.gallery-item {
  width: 100%; /* Ensure the content fills the slide */
  /* Additional styling for the content */
}
.custom-arrow {
  cursor: pointer;
  z-index: 10;
}
.custom-arrow {
  display: none;
}
.name-text,
.email-text,
.reigon-text,
.message-text {
  display: none;
}
.contact-container {
  margin: 270px 10%;
}
.contact-title {
  width: 100%;
  display: flex;
}
.main-title {
  width: 40%;
  margin-right: 106px;
}
.title-description {
  width: 50%;
  margin-top: 20px;
}
.main-title h1 {
  font-size: 60px;
  font-weight: 500;
}
.title-description h6 {
  font-size: 40px;
  font-weight: 300;
}
.title-description p {
  size: 30px;
  font-weight: 200;
  max-width: 465px;
  margin-top: 30px;
  margin-bottom: 119px;
}
.contact-dscription {
  width: 100%;
  display: flex;
}
.contact-address {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  margin-top: 190px;
}
.contact-form {
  width: 55%;
  margin-top: 110px;
  margin-left: 106px;
}
.contact-form input {
  width: 90%;
  border: none;
  border-bottom: 1px solid #dddbdb;
  height: 75px;
  margin-top: 40px;
  font-size: 30px;
  font-weight: 200;
}

.contact-form p {
  margin-bottom: -10px !important;
  margin-top: 40px;
  color: #dddbdb;
  font-size: 20px;
  font-weight: 200;
}
.contact-form input placeholder {
  color: #dddbdb;
}
.contact-address h5 {
  font-size: 30;
  font-weight: 300;
  margin-bottom: 31px;
}
.contact-address p {
  font-size: 25;
  font-weight: 200;
  margin-bottom: 50px;
}
.contact-address h6 {
  margin-bottom: 25px;
}
.addAtachment {
  display: flex;
  align-items: center;
  margin-top: 30px !important;
}
.addAtachment h6 {
  margin-bottom: 0 !important;
  font-weight: 300;
  color: #353535;
  margin-left: 10px;
}
.addAtachment img {
  width: 29px;
}
.ProjectDetail2 {
  width: calc(100%);
  margin: 124px 0 124px 0;
}
.projectDetail2-images {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.ProjectDetail2 .masonery-portfolio:first-child {
  margin-top: 0 !important;
}
.ProjectDetail2-text {
  width: 100%;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 25%;
}
.ProjectDetail2 .my-masonry-grid-noTxt {
  width: calc(100% - 240px);
  margin: 120px 0 120px 86px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 0);
  column-gap: 13px;
  box-sizing: border-box;
}
.ProjectDetail2 .my-masonry-grid-noTxt .masonery-portfolio {
  width: calc(50%);
  padding: 0 0px 40px 60px;
}
.ProjectDetail2-text h6 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 31px;
  text-transform: capitalize;
}
.ProjectDetail2-text p {
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  margin-bottom: -10px;
}
.otherProject-container {
  width: 100%;
  height: 726px;
  display: flex;
  align-items: center;

  justify-content: center;
  cursor: pointer;
}
.otherProject-container .prev-project {
  width: 50%;
  height: 726px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0dfdf;
}
.otherProject-container .prev-project:hover {
  background-color: #050505;
}
.otherProject-container .next-project {
  width: 50%;
  display: flex;
  height: 726px;
  flex-direction: column;
  border: 1px solid #e0dfdf;
  border-left: 1px solid #fff;
}
.otherProject-container .next-project:hover {
  background-color: #050505;
}
.otherProject-container h6 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin: 100px 0;
}
.next-project:hover h6,
.prev-project:hover h6 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin: 100px 0;
  color: #fff;
}
.otherProject-container img {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.next-project p,
.prev-project p {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
}
.next-project:hover p {
  color: #fff;
}
.prev-project:hover p {
  color: #fff;
}
.next-project .category,
.prev-project .category {
  width: 900px;

  margin-left: 249px;
  margin-bottom: 30px;
}
.next-project .category a,
.prev-project .category a {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  margin-right: 15px;
  padding: 10px 15px;
}
.next-project:hover .category a,
.prev-project:hover .category a {
  text-decoration: none;
  color: #fffefe;
  border: 1px solid #fffdfd;
  margin-right: 15px;
  padding: 10px 15px;
}
.scrolling-text {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin: 75px 0;
  padding: 30px 0;
  width: 100%;
  border: 1px solid #2c2c2c;
}
.scrolling {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scroll 20s linear infinite;
  -webkit-animation: scroll 20s linear infinite;
}

.scrolling-text p {
  color: #000;
  width: 100%;
  margin: 0 20px !important;
  font-size: 30;
  font-weight: 300;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.ProjectDetail1 {
  margin: 125px 126px;
}
.ProjectDetail1-text {
  width: 100%;
}
.ProjectDetail1-title {
  display: flex;
  align-items: center;
}
.ProjectDetail1-title h1 {
  font-size: 60px;
  font-weight: 500;
  margin-right: 150px;
}
.categoris-list {
  display: flex;
}

.category-list a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  padding: 10px 15px;
  border: 1px solid #0d0d0d;
  margin: 5px;
}
.category-list:hover a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 15px;
  border: 1px solid #0d0d0d;
  margin: 5px;
  background-color: #000;
}
.ProjectDetail1-description p {
  margin: 30px 0;
  width: 100%;
  font-size: 30px;
  font-weight: 200;
}
.ProjectDetail1-details {
  width: 100%;
  display: flex;
  align-items: center;
}
.ProjectDetail1-details .part1,
.ProjectDetail1-details .part2,
.ProjectDetail1-details .part3 {
  width: 38%;
}
.ProjectDetail1-details .part1 h6,
.ProjectDetail1-details .part2 h6,
.ProjectDetail1-details .part3 h6 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}
.ProjectDetail1-details .part1 p,
.ProjectDetail1-details .part2 p,
.ProjectDetail1-details .part3 p {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 100px;
}
.ProjectDetail1-images {
  width: 100%;
}
.ProjectDetail1-images .image1 img {
  width: 100%;
  max-height: 810px;
  object-fit: cover;
}
.ProjectDetail1-images .image2 img {
  width: 100%;
  min-height: 600px;
  padding: 10% 20% !important;
}
.ProjectDetail1-description2 {
  width: 100%;
}
.ProjectDetail1-description2 h6 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}
.ProjectDetail1-description2 p {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 30px;
}
.secondimages {
  width: 100%;
}
.secondimages img {
  width: 50%;
  max-height: 800px;
  object-fit: cover;
  padding: 5% 2.5%;
}
